<!-- laporan/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Lapor Pemerintah {% endblock %}</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="content">
            {% if user.is_authenticated %}
	
            Hi {{ user.username }}!
              
            <p><a href="{% url 'logout' %}">logout</a></p>
              
          {% else %}
              
            <p>You are not logged in</p>
              
            <a href="{% url 'login' %}">login</a>
              
          {% endif %}
          <hr/>
          
        {% block content %}{% endblock %}
    </div>
</body>
</html>